/* HomePage.module.css */
.homePageContainer {
  width: auto;
  background-color: #f2e6ff;
  z-index: -1000;
}

.contentContainer {
  display: flex;
  height: 120vh;
  justify-content: center;
  z-index: -1000;
  
}

.contestDisplayFeedContainer {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}

.sideMenu {
  width: 360px;
}

