/* General Card Styles */
.contestCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.contestCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Title and Etherscan Link */
.h3WithEtherscan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.contestId {
  font-size: 1.5em;
  margin: 0;
}

.etherScanLink {
  display: flex;
  align-items: center;
}

.etherscanLogo {
  height: 1.5em;
  width: auto;
  transition: transform 0.5s ease, filter 0.3s ease;
}

.etherscanLogo.animate {
  animation: jumpAndWiggle 0.5s ease 1s;
}

.etherscanLogo:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.etherscanLogo:active {
  transform: scale(0.95);
}

.smallEtherscanLogo {
  width: 15px;
  margin-right: 5px;
  vertical-align: middle;
  transition: transform 0.5s ease, filter 0.3s ease;
}

.smallEtherscanLogo.animate {
  animation: jumpAndWiggle 0.5s ease 1s;
}

.smallEtherscanLogo:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.smallEtherscanLogo:active {
  transform: scale(0.95);
}

/* Prize Pool */
.prize {
  font-size: 1.2em;
  color: #822280;
  margin: 10px 0;
}

.prizeEmoji {
  display: inline-block;
  transition: transform 0.5s ease, filter 0.3s ease;
  cursor: pointer;
}

.prizeEmoji.animate {
  animation: jumpAndWiggle 0.5s ease 1s;
}

.prizeEmoji:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}

.prizeEmoji:active {
  transform: scale(0.95);
}

/* Info Panel */
.infoPanel {
  background-color: rgb(235, 234, 234);
  margin: 10px;
  border-radius: 8px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.15);
  text-align: left;
  font-size: 14px;
  color: #666;
  width: 100%;
  padding: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
  display: none;
}

.detailsToggle {
  cursor: pointer;
  color: #822280;
  margin: 10px;
  text-align: center;
}

.infoPanel.show {
  display: grid;
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
  box-sizing: border-box;
  padding: 15px;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Button Bar */
.buttonBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.button {
  flex: 1;
  height: 40px;
  font-size: 0.9em;
  background-color: #822280;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: #ff007a;
}

.button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes jumpAndWiggle {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px) rotate(5deg); }
  100% { transform: translateY(0); }
}
