/* TopBar.module.css */
.topbar {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #822280;
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
  flex-direction: column; /* Stack logo and deploy text vertically */
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-top: 25px;
}

.logo {
  width: 70px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  max-width: 150px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 50px 0;
}

.topbarContainer {
  height: 75px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  background-color: #822280;
}

.navlinksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #822280;
  position: relative;
}

.navButtonContainer {
  display: flex;
}

.navButton, .menuButton {
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  width: 85px;
  background-color: #942a94;
  font-size: 12px;
  padding: 0 1px;
  margin: 0 1px;
  box-sizing: border-box;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.navButton:hover, .menuButton:hover {
  background-color: #a73ea7;
  transform: scale(1.1);
}

.activeNavButton {
  background-color: #b950b9;
}

.deployLink {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-top: 5px;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

.deployLink:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}

.deployLink:active {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  transform: scale(1.2);
}

/* Responsive styles */
@media (max-width: 500px) {
  .navButtonContainer {
    display: flex;
    align-items: center;
  }

  .navButton, .menuButton {
    width: 50px; /* Smaller width for buttons */
    font-size: 10px; /* Smaller font size */
    padding: 2px; /* Adjust padding */
    margin: 2px 2px; /* Adjust margin */
  }

  .dropdownMenu {
    display: none; /* Hide dropdown menu */
  }

  .menuButton {
    display: none; /* Hide menu button */
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
