/* TopBar.css */
.topbar {
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Space between left and right items */
    padding: 5px; /* Add some padding around the top bar */
    background-color: #822280;
    box-sizing: border-box;
  }

  .logoContainer {
    width: 70px;
    padding: 0 5px;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    max-width: 150px; /* Restrict to a maximum width */
    width: 100%; /* Automatically adjusts based on parent container */
    height: auto;
    cursor: pointer;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .topbarContainer {
    height: 75px;
    display: flex;
    width: 100%;
    justify-content: space-between; /* Space between left and right items */
    padding: 5px; /* Add some padding around the top bar */
    background-color: #822280;
  }

  .navlinksContainer {
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #822280;
  }
  
  .navButton {
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    width: 85px;
    background-color: #942a94; /* Initial button color */
    font-size: 12px;
    padding:0 1px;
    margin: 0 1px;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.2s; /* Smooth color transition and hover effect */
  }
  
  .navButton:hover {
    background-color: #a73ea7; /* Slightly lighter shade on hover */
    transform: scale(1.5); /* Slightly enlarge on hover */
  }
  
  .activeNavButton {
    background-color: #b950b9; /* Different shade to highlight the selected button */
  }
  
  .logo {
    width: 70px;
  }
  .title {
    width: 200px;
  }
  
