/* TopBar.css */
.topbar {
    height: 90px;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Space between left and right items */
    padding: 5px; /* Add some padding around the top bar */
    background-color: #822280;
    box-sizing: border-box;
  
  
  }

  .logo {
    width: 75px;
    margin: 20px;
  }
  .title {
    width: 200px;
  }
  
